<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Set</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/stylesheet.css">

  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/jquery-2.1.1.min.js"></script>

  <!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /> -->
</head>
<body>

  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Set</a></h1>
        </li>
      </ul>
    </nav>
  </div>


  <%= yield %>


  <script>

  Array.prototype.unique = function()
  {
    var n = [];
    for(var i = 0; i < this.length; i++)
      {
        if (n.indexOf(this[i]) == -1) n.push(this[i]);
      }
      return n;
    };

  var selectedCards = []
  $(".card").click(function() {
    $(this).addClass("highlight");
    selectedCards.push(this.id);
    if (selectedCards.unique().length == 3) {
      $.get(
        "/guess",
        {cards: selectedCards.unique()},
        function(data) {
          alert(data);
          window.location.href = "/set"
        }
      )
    }
  });
  </script>
</body>
</html>
