
.red {
  background-color: red;
  border-color: red;
}

.purple {
  background-color: purple;
  border-color: purple;
}

.green {
  background-color: green;
  border-color: green;
}

.card .rectangles {
  width:80px;
  height:125px;
  margin: 10px;
  border-width: 5px;
  border-style: solid;
  border-left-style: solid;
}

.card .ovals {
  width:80px;
  height: 125px;
  border-radius: 80px / 125px;
  margin: 10px;
  border-width: 5px;
  border-style: solid;
  border-left-style: solid;
}

.diamonds {
  width: 0;
  height: 0;
  border-right-style: none;
  border-top: 62px solid transparent;
  border-left-width: 80px;
  border-left-style: solid;
  border-bottom: 62px solid transparent;
  margin: 5px;
  background-color: white;
}

.empty {
  background-color:white;
}

.diamonds.empty div{
  width: 0;
  height: 0;
  border-right-style: none;
  border-top: 52px solid transparent;
  border-left-width: 65px;
  border-left-style: solid;
  border-bottom: 52px solid transparent;
  position:relative;
  top: -52px;
  right: 74px;
  border-left-color: white;
}

.solid {

}

.striped {
  opacity:.5;
}

.card {
  float: left;
  display: flex;
  justify-content: center;
  padding: 25px;
  height: 200px;
  width: 300px;
  background-color: white;
  border: 7px solid black;
  border-radius: 15px;
  margin: 10px;
}

body {
  display: inline;
}

.highlight {
  background-color: yellow;
}

.highlight .diamonds.empty div{
  border-left-color: yellow;
}

.highlight .diamonds {
  background-color: yellow;
}

.highlight .empty {
  background-color: yellow;
}
